<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Marvel | Movies</title>

    <!-- ================ ICO Link ================== -->
    <link
      rel="shortcut icon"
      href="../../assets/icons/tab.ico"
      type="image/x-icon"
    />

    <link rel="stylesheet" href="movie.css" />
  </head>
  <body>
    <!-- ===================== NavBar ====================== -->

    <div class="nav">
      <nav>
        <!-- ========== Nav Links on Left ============ -->
        <div class="left">
          <a href="../characters/character.html" class="nav-links"
            >CHARACTERS</a
          >

          <a href="../comics/comic.html" class="nav-links">COMICS</a>
        </div>

        <!-- ============ Logo ============= -->
        <div id="logo">
          <a href="../../index.html">
            <svg width="131" height="55" xmlns="http://www.w3.org/2000/svg">
              <rect fill="#EC1D24" width="100%" height="100%"></rect>
              <path
                fill="#FEFEFE"
                d="M126.222 40.059v7.906H111.58V4h7.885v36.059h6.757zm-62.564-14.5c-.61.294-1.248.44-1.87.442v-14.14h.04c.622-.005 5.264.184 5.264 6.993 0 3.559-1.58 5.804-3.434 6.705zM40.55 34.24l2.183-18.799 2.265 18.799H40.55zm69.655-22.215V4.007H87.879l-3.675 26.779-3.63-26.78h-8.052l.901 7.15c-.928-1.832-4.224-7.15-11.48-7.15-.047-.002-8.06 0-8.06 0l-.031 39.032-5.868-39.031-10.545-.005-6.072 40.44.002-40.435H21.278L17.64 26.724 14.096 4.006H4v43.966h7.95V26.78l3.618 21.192h4.226l3.565-21.192v21.192h15.327l.928-6.762h6.17l.927 6.762 15.047.008h.01v-.008h.02V33.702l1.845-.27 3.817 14.55h7.784l-.002-.01h.022l-5.011-17.048c2.538-1.88 5.406-6.644 4.643-11.203v-.002C74.894 19.777 79.615 48 79.615 48l9.256-.027 6.327-39.85v39.85h15.007v-7.908h-7.124v-10.08h7.124v-8.03h-7.124v-9.931h7.124z"
              ></path>
              <path fill="#EC1D24" d="M0 0h30v52H0z"></path>
              <path
                fill="#FEFEFE"
                d="M31.5 48V4H21.291l-3.64 22.735L14.102 4H4v44h8V26.792L15.577 48h4.229l3.568-21.208V48z"
              ></path>
            </svg>
          </a>
        </div>

        <!-- ======= Nav Links on Right ========= -->
        <div class="right">
          <a href="./movie.html" class="nav-links">MOVIES</a>

          <a href="../tvshows/tvshow.html" class="nav-links">TV SHOWS</a>
        </div>
      </nav>
    </div>

    <!-- ================== NavBar Ends ========================== -->

    <!-- ========================== Movie Cards ======================== -->

    <div class="card-holder">
      <!-- ================= Demo Card ===================== -->
      <!-- ===== you need to use these class only while making your own ===== -->
      <div class="card">
        <div class="card-image">
          <!-- upload your image in assets/movie-images/ folder and use it here -->
          <img src="../../assets/movie-images/shang-chi.jpg" alt="shang-chi" />
        </div>

        <div class="know-more">
          <!-- Add the official link of your movie in href -->
          <a
            href="https://www.marvel.com/movies/shang-chi-and-the-legend-of-the-ten-rings"
            >KNOW MORE</a
          >
        </div>
        <!-- change the content of title div according to your tv show -->
        <div class="title">Shang-Chi and The Legend of The Ten Rings</div>
      </div>

      <!-- ============= Start your contribution below this line =============== -->

      <!--adding hulk-->
      <div class="card">
        <div class="card-image">
          <!-- upload your image in assets/movie-images/ folder and use it here -->
          <img src="../../assets/movie-images/hulk.jpg" alt="Hulk" />
        </div>

        <div class="know-more">
          <!-- Add the official link of your movie in href -->
          <a
            href="https://www.marvel.com/movies/shang-chi-and-the-legend-of-the-ten-rings"
            >KNOW MORE</a
          >
        </div>
        <!-- change the content of title div according to your tv show -->
        <div class="title">The Incredible Hulk</div>
      </div>

      <!-- Adding Ant-Man Movie Card -->
      <div class="card">
        <div class="card-image">
          <!-- upload your image in assets/movie-images/ folder and use it here -->
          <img src="../../assets/movie-images/Ant-Man.jpg" alt="shang-chi" />
        </div>

        <div class="know-more">
          <!-- Add the official link of your movie in href -->
          <a
            href="https://www.marvel.com/movies/shang-chi-and-the-legend-of-the-ten-rings"
            >KNOW MORE</a
          >
        </div>
        <!-- change the content of title div according to your tv show -->
        <div class="title">Ant-Man</div>
      </div>
      <!-- Adding avengers Movie Card -->
      <div class="card">
        <div class="card-image">
          <!-- upload your image in assets/movie-images/ folder and use it here -->
          <img src="../../assets/movie-images/avengers.jpg" alt="Avengers" />
        </div>

        <div class="know-more">
          <!-- Add the official link of your movie in href -->
          <a href="https://www.marvel.com/movies/avengers-endgame">KNOW MORE</a>
        </div>
        <!-- change the content of title div according to your tv show -->
        <div class="title">Avengers</div>
      </div>
      <!-- Adding Black-Widow Movie Card -->
      <div class="card">
        <div class="card-image">
          <!-- upload your image in assets/movie-images/ folder and use it here -->
          <img
            src="../../assets/movie-images/black-widow.jpg"
            alt="Black-Widow"
          />
        </div>

        <div class="know-more">
          <!-- Add the official link of your movie in href -->
          <a href="https://www.marvel.com/movies/black-widow">KNOW MORE</a>
        </div>
        <!-- change the content of title div according to your tv show -->
        <div class="title">Black-Widow</div>
      </div>

      <!--  Adding Captain Marvel Movie Card-->
      <div class="card">
        <div class="card-image">
          <!-- upload your image in assets/movie-images/ folder and use it here -->
          <img
            src="../../assets/movie-images/captain-marvel.jpg"
            alt="captain-marvel"
          />
        </div>

        <div class="know-more">
          <!-- Add the official link of your movie in href -->
          <a href="https://www.marvel.com/movies/captain-marvel">KNOW MORE</a>
        </div>
        <!-- change the content of title div according to your tv show -->
        <div class="title">Captain Marvel</div>
      </div>

      <!-- adding X-Men Apocalypse -->
      <div class="card">
        <div class="card-image">
          <!-- upload your image in assets/movie-images/ folder and use it here -->
          <img
            src="../../assets/movie-images/apocalypse.jpg"
            alt="Apocalypse"
          />
        </div>

        <div class="know-more">
          <!-- Add the official link of your movie in href -->
          <a href="https://www.marvel.com/movies/x-men-apocalypse">KNOW MORE</a>
        </div>
        <!-- change the content of title div according to your tv show -->
        <div class="title">X-men Apocalypse</div>
      </div>

      <!-- adding Black Panther -->
      <div class="card">
        <div class="card-image">
          <!-- upload your image in assets/movie-images/ folder and use it here -->
          <img
            src="../../assets/movie-images/blackpanther.jpg"
            alt="BlackPanther"
          />
        </div>

        <div class="know-more">
          <!-- Add the official link of your movie in href -->
          <a href="https://www.marvel.com/movies/black-panther">KNOW MORE</a>
        </div>
        <!-- change the content of title div according to your tv show -->
        <div class="title">Black Panther</div>
      </div>
    </div>
  </body>
</html>
